<p>
  <strong>Name:</strong>
  <%= @cat.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @cat.description %>
</p>

<p>
  <strong>Picture:</strong>
  <%= image_tag(@cat.picture_url, width: 600) if @cat.picture.present? %>
</p>

<%= link_to 'Edit', edit_cat_path(@cat) %> |
<%= link_to 'Back', cats_path %>

<button data-toggle="collapse" data-target="<img src=x onerror=alert(0)>">Test</button>
